<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adityahoque.apptest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shadowbluebackground72"
        android:label="AssignMe"
        android:supportsRtl="true"
        android:theme="@style/AssignMeTheme.Theme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d817ab4b2b41cee1f627da7970dd87b7b0b82d98" />

        <activity android:name=".StudentTimelineActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".TeacherOrStudentActivity" />
        <activity android:name=".TeacherTimelineActivity" />
        <activity android:name=".PostAssignmentActivity"></activity>
    </application>

</manifest>